* {
    box-sizing: border-box;
}



.body {
    font-family:Arial,"Helvetica Neue", Helvetica, sans-serif;
    color: #777777;
    margin: 0px 0px 0px 0px;

}

    

.left {
    font-family: Georgia, Times, "Times New Roman", serif;
    float: left;
    color: #777777;
    background: #ffffff;
    width: 30%;
    height: 60px;
    border-bottom-style: solid;
    border-color: #dddddd;

}




.yourname {
    font-family: Georgia, Times, "Times New Roman", serif;
    color: #fff;
    text-align: center;
    font-size: 18px;
    padding: 5 px;
    text-align: center;
    
}
    





.middle {
    float: left;
    background: #4aaaa5;
    width: 15%;
    height: 60px;
    margin: none;
    border-bottom-style: solid;
    border-color: #dddddd;
    
}



  .right {
    float: right;
    clear:
    font-family: Georgia, Times, "Times New Roman", serif;
    color: #777777;
    background: #ffffff;
    width: 55%;
    height: 60px;
    padding: 0;
    border-bottom-style: solid;
    border-color: #dddddd;
    
}

  


  

.nav li {
    display: inline-block;
    font-size: 15px;
    padding: 10px;
    margin-left: 30px;
    color: #777777;
    
}
.nav a {
    text-decoration: none;
    color: #777777;

}



 .full {
    
    background-image: url("../images/concrete_seamless.png");
    height: 960px;
    width: 100%;
    margin: none;
    padding: none;
    z-index: -1;
    
 }
    



    
    .content {

        position: relative;
        position: center;
        bottom: -90px;
        background: #ffffff;
        width: 600px;
        height: 400px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: none;
        padding-bottom: 20px;
        border: #dddddd;
        margin-left: auto;
        margin-right: auto;
    }
        
 


 
    .contentP {

        position: relative;
        position: center;
        bottom: -90px;
        background: #ffffff;
        width: 600px;
        height: 400px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: none;
        padding-bottom: 20px;
        border: #dddddd;
        margin-left: auto;
        margin-right: auto;
        
    }
    

    .header {

        position: relative;
        margin-bottom:20px;
        margin-top: none;
        padding-bottom: 0px;
        color: #4aaaa5;
        border-bottom-style: solid;
        border-color:#dddddd;
        height: 70px;
        

 }

 
    #aboutme {
        position: absolute;
        top: 20px;
        text-align: left;
        margin: 0px;
        padding: 0px;
        font-size: 20px;
 }

    #portfolio {
        position: absolute;
        top: 20px;
        text-align: left;
        margin: 0px;
        padding: 0px;
        font-size: 20px;

}

    #contact {
        position: absolute;
        top: 20px;
        text-align: left;
        margin: 0px;
        padding: 0px;
        font-size: 20px;

}

    form {
        margin-top: 100px;
        

    }

    
    .form-control{
        width: 560px;
        outline-color: #dddddd;
        font-size: 15px;
        padding: 5px;
        margin-bottom: 3px;
        color: #777777;
        font-size: 12px;
    }



    .message {
        border-color: #dddddd;
    }

     .submit {
        width: 0px;
        
        

    }

    
    .form-control-submit {

        background-color: #4aaaa5;
        color: #fff;
        height: 25px;
        width: 75px;
        font-size: 15px;
    }
    


    
        .layout1, .layout2  {
            width: 20%;
            margin: 0px 0px 0px 0px;
            float: left;
        
    }
        .layout3, .layout4 {
            width: 20%;
            margin: 0px 0px 0px 0px;
            float: left;
           
        
}
    a {
        text-decoration: none;
        color: #fff;
    }

    .labelhtml, 
    .labelcss, 
    .labelbootstrap, 
    .labeljavascript,
    .labelgithub,
    .labeltriviaGame,
    .labelstarwars,
    .labelgiftastic,
    .labelTrain {
        
        background-color: #4aaaa5;
        color: #fff;
        position: relative;
        top: 59px;
        text-align: center;
        font-size: 8px;
        padding: 4px;

    }
    
    

  

    .img1 {
        
        
        background-image: url("../images/image (5).jpeg");
        padding: 0px;
        width: 100px;
        height: 80px;
        margin-right: 20px;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    
    

    }


    .img2 {
        
        background-image: url("../images/image (6).jpeg");
        padding: 0px;
        width: 100px;
        height: 80px;
        margin-right: 20px;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    
    }

    .img3 {

        
        background-image: url("../images/image1.jpeg");
        padding: 0px;
        width: 100px;
        height: 80px;
        margin-right: 20px;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    
    }
    
    .img4 {
    
        background-image: url("../images/image (7).jpeg");
        padding: 0px;
        width: 100px;
        height: 80px;
        margin-right: 20px;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;

    }
    
    
    .img5 {
        
        background-image: url("../images/images (4).jpeg");
        padding: 0px;
        width: 100px;
        height: 80px;
        margin-right: 20px;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .img6 {
        
        background-image: url("../images/DarthVader.jpg");
        padding: 0px;
        width: 100px;
        height: 80px;
        margin-right: 20px;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .img7 {
        
        background-image: url("../images/giphy.webp");
        padding: 0px;
        width: 100px;
        height: 80px;
        margin-right: 20px;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .img8 {
        
        background-image: url("../images/200.webp");
        padding: 0px;
        width: 100px;
        height: 80px;
        margin-right: 20px;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .img9 {
        
        background-image: url("../images/train.jpeg");
        padding: 0px;
        width: 100px;
        height: 80px;
        margin-right: 20px;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    
   
    #img {
        float: left;
        padding: 0px;
        width: 120px;
        height: 100px;
        margin-right: 20px;
        margin-left: 0px;
        margin-top: 2px;
        margin-bottom: 10px;
    }
    

    
    .para {
        margin: 0px;
        padding: 8px 0 0 0;
        color: #777777;
    }




    @media screen and (max-width: 980px) {
        .form-control-submit {
    
            background-color: #4aaaa5;
            color: #fff;
            height: 25px;
            width: 75px;
            font-size: 15px;
        }
        }
    
    
        @media screen and (max-width: 980px) {
            .layout1, .layout2 {
                width: 20%;
                margin: 0px 0px 0px 0px;
                float: left;
            
        }
    }

    @media screen and (max-width: 980px) {
        .form-control{
            width: 560px;
            outline-color: #dddddd;
            font-size: 15px;
            padding: 5px;
            margin-bottom: 3px;
            color: #777777;
            font-size: 12px;
        }
    }

    @media screen and (max-width: 980px) {
        .contentP {
    
            position: relative;
            position: center;
            bottom: -90px;
            background: #ffffff;
            width: 600px;
            height: 400px;
            padding-bottom: 20px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: none;
            padding-bottom: 20px;
            border: #dddddd;
            margin-left: auto;
            margin-right: auto;
            
        }
        }


    @media screen and (max-width: 980px) {
        .content {
    
            position: relative;
            position: center;
            bottom: -90px;
            background: #ffffff;
            width: 600px;
            height: 400px;
            padding-bottom: 20px;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: none;
            padding-bottom: 20px;
            border: #dddddd;
            margin-left: auto;
            margin-right: auto;
        }
            
     }
    @media screen and (max-width: 980px) {
        .full {
           
           background-image: url("../images/concrete_seamless.png");
           height: 1160px;
           width: 100%;
           margin: none;
           padding: none;
           z-index: -1;
           
        }
           
       }

    @media screen and (max-width: 980px) {
        .right {
          float: right;
          font-family: Georgia, Times, "Times New Roman", serif;
          color: #777777;
          background: #ffffff;
          width: 55%;
          height: 60px;
          padding: 0;
          border-bottom-style: solid;
          border-color: #dddddd;
          
      }
      }



    @media screen and (max-width: 980px) {
        .middle {
            float: left;
            background: #4aaaa5;
            width: 15%;
            height: 60px;
            margin: none;
            border-bottom-style: solid;
            border-color: #dddddd;
            
        }
        }


    @media screen and (max-width: 980px) {
        .yourname {
            font-family: Georgia, Times, "Times New Roman", serif;
            color: #fff;
            text-align: center;
            font-size: 18px;
        }
            
        
        }

    @media screen and (max-width: 980px) {
        .left {
            font-family: Georgia, Times, "Times New Roman", serif;
            float: left;
            color: #777777;
            background: #ffffff;
            width: 30%;
            height: 60px;
            border-bottom-style: solid;
            border-color: #dddddd;
        
        }
        }
        
    
      
    
    @media screen and (max-width: 980px) {  
        .footer {
            position:relative;
            bottom: 5px;
            height: 50px;
            background-color: #666666;
            padding: 5px;
            border-top: 8px solid #4aaaa5;
            text-align: center;

    }

    }
        


    @media screen and (max-width: 640px) {
        .middle, .topdiv, .layout1, .layout2 {
            width: 100%;
            float: none;
        }
    }

    @media screen and (max-width: 640px) {
        .contact-form, .form-control {
            width: 100%;
            float: none;
        }
    }

    
    @media screen and (min-width: 640px) and (max-width: 768px) {
        .topdiv {
            margin-right: 10%;
            margin-left: 10%;
            
        }
    }

    @media screen and (min-width: 640px) and (max-width: 768px) {
        .yourname {
            font-size: 15px;
            
        }
    }

    @media screen and (min-width: 640px) and (max-width: 768px) {
        .middle {
           
            width: 30%;
        }
    }

    @media screen and (max-width: 640px) {
        .right {
            width: 100%;
            float: none;
        }
    }

    

    @media screen and (min-width: 640px) and (max-width: 768px) {
        .right {
            display: inline-block;
            font-size: 15px;
            padding: 5px;
            margin-left: 0px;
            margin-right: 0px;
        }
    }

    @media screen and (min-width: 640px) and (max-width: 768px) {
        .nav li {
            margin-right: 5%;
            padding: 5px;
            width: 10%;
            
        }
    }
   
    

    @media screen and (max-width: 640px) {
        .left {
            width: 0px;
            margin-left: 30px;
            
        }
    }

    @media screen and (min-width: 640px) and (max-width: 768px) {
        .left {
            width: 15%;
            margin-left: 0%;
        }
    }
    
    @media screen and (max-width: 640px) {
        .para {
           width: 100%;
            
        }
    } 

    
    @media screen and (max-width: 640px) {
        .contentP {
           width: 100%;
           height: 80%;
            
        }
    }

   

    
    @media screen and (max-width: 640px) {
        .content {
           width: 100%;
           height: 40%;
            
        }
    }

   